@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Mulish:ital,wght@0,300;0,400;0,700;1,500&family=Poppins:wght@400;500;600;700&display=swap');

/* font-family: 'Long Cang', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif; */

html,
*,
*::after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}
body {
    background-color: #e5e7ed;
    color: #212529;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #b7b7b7;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0bceaf;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0cc4a7;
}

a {
    text-decoration: none;
}
a:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
    color: #595959;
    -webkit-text-decoration-color: #595959;
    text-decoration-color: #595959;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;

    font-weight: 400;
}
